#####################################
# Arquivos de configuração do LaTeX #
#####################################
*.log
*.lot
*.lof
*.idx
*.snm
*.aux
*.nav
*.out
*.toc

#################################
# 	Arquivos do MacOS	#
#################################
.DS_Store
